link(href="/css/stats.css", rel="stylesheet")
script(src="/js/date.js")
script(src="/js/stats.js")

h2 Real-time stats

.creation-stats
  h3 Creations
  .stats

.visited-stats
  h3 Visits
  .stats

template(id="url created"):
  .stat.creation
    .type URL Created
    .date= prettyDate(date)
    .short <a href="/#{short}">/#{short}</a>
    .url <a href="#{url.href}"><em>#{url.hostname}</em><b>#{url.pathname}</b></a>

template(id="url visited"):
  .stat.visited
    .type URL visited
    .date= prettyDate(date)
    .short <a href="/#{short}">/#{short}</a>
    .url <a href="#{url.href}"><em>#{url.hostname}</em><b>#{url.pathname}</b></a>

script
  var transactions = !{JSON.stringify(transactions)}
